*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.bar{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 15px;
    background-color: white;
    text-shadow: #9a9891;
    margin-right: 20px;
}
.logo{
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.2);
}
main ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
main ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.5px;
}
main ul li a:after{
    content: '';
    position: absolute;
    background-color: #7c826b;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
main ul li a:hover{
    color: #7c826b;
}
main ul li a:hover:after{
    width: 100%;
}
.btn{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 50px;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    background-color: grey;
    color: grey;
    background: transparent;
    border-color: #ede6c4;
    cursor: pointer;
}
h1{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
span{
    color: #7c826b;
}
.about_body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede6c4;
}
.about_container{
    width: 100%;
    padding: 50px 8%;
}
.about_container .about_contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}
.about_contents .imageSection{
    position: relative;
    min-width: 280px;
    height: 280px;
}
.imageSection img{
    width: 100%;
    height: 100%;
    position: relative;
}
.infoSection h2{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.infoSection h2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left:0;
    background-color: black;
}
.infoSection h2::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: black;
}
.infoSection h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(63, 53, 47);
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.infoSection p{
    color: black;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}
.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}
.personalInfo span{
    color: rgb(63, 53, 47);
    font-size: 16px;
    font-weight: bold;
}
.infoSection button{
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #555;
    border-radius: 20px;
    font-size: 18px;
    background-color: #ede6c4;
    color:black;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}
.infoSection button:hover{
    color: whitesmoke;
    background-color: #9a9891;
}
