*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.bar{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #7c826b;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 15px;
    background-color: white;
    text-shadow: #9a9891;
}
.logo{
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}
main ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
main ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.5px;
}
main ul li a:after{
    content: '';
    position: absolute;
    background-color: #7c826b;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
main ul li a:hover{
    color: #7c826b;
}
main ul li a:hover:after{
    width: 100%;
}
.btn{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 50px;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    background-color: grey;
    color: grey;
    background: transparent;
    border-color: #ede6c4;
    cursor: pointer;
}
h1{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
span{
    color: #7c826b;
}
.note{
    background-color: #9a9891;
    padding-top: 20px;
    padding-bottom: 100px;
}
h2{
    color: whitesmoke;
    margin-top: 100px;
    font-size: 50px;
    cursor: pointer;
}
p{
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}
.more{
    background-color: #ede6c4;
    width: 100%;
    padding: 100px 0px;
}
.title h4{
    color: #9a9891;
    font-size: 50px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 400px;
    width: 300px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 20px;
    margin: 28px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}
.image1{
    width: 250px;
    height: 50%;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
.image2{
    width: 250px;
    height: 50%;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
.image3{
    width: 250px;
    height: 50%;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
h5{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.p2{
    color: gray;
    font-size: 9px;
    line-height: 1px;
}
.btn1{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 20px;
    transition: 0.4s;
    font-size: 12px;
    scroll-behavior: auto;
}
.btn1:hover{
    color: #9a9891;
    transition: scale(1.2);
    border-color: #9a9891;
    background: transparent;
    cursor: pointer;
}
.blog-content{
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog-post{
    display: flex;
    justify-content: center;
    align-items: center;;
    min-height: 100vh;
    background: white;
}
.imgb{
    max-width: 320px;
    float: left;
    border: 5px solid #7c826b;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 100px;
}
.travel .imgb{
    max-width: 320px;
    float: left;
    border: 5px solid #7c826b;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.wrap{
    margin: 150px auto;
    width: 70%;
}
.travel{
    margin: 150px auto;
    width: 70%;
}
.travel .text-box h1{
    font-size: 42px;
    margin-top: 120px;
    cursor: copy;
}
.text-box{
    color: black;
}
.text-box h1{
    font-size: 42px;
    margin-top: 200px;
    cursor: copy;
}
.text-box p{
    font-size: 16px;
    color: black;
    cursor: copy;
}
.text-box p span{
    color: #9a9891;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
