*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.bar{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #7c826b;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 15px;
    background-color: white;
    text-shadow: #9a9891;
}
.logo{
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.2);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.5px;
}
nav ul li a:after{
    content: '';
    position: absolute;
    background-color: #7c826b;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #7c826b;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 50px;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    background-color: grey;
    color: grey;
    background: transparent;
    border-color: #ede6c4;
    cursor: pointer;
}
h1{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
span{
    color: #7c826b;
}
.content{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
    cursor: pointer;
}
h2{
    color: whitesmoke;
    margin: 20px 0px 20px;
    font-size: 50px;
    cursor: pointer;
}