*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.bar{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #7c826b;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 15px;
    background-color: white;
    text-shadow: #9a9891;
}
.logo{
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.2);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.5px;
}
nav ul li a:after{
    content: '';
    position: absolute;
    background-color: #7c826b;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #7c826b;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 50px;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    background-color: grey;
    color: grey;
    background: transparent;
    border-color: #ede6c4;
    cursor: pointer;
}
h1{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
span{
    color: #7c826b;
}
.content{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
    cursor: pointer;
}
h2{
    color: whitesmoke;
    margin: 20px 0px 20px;
    font-size: 50px;
    cursor: pointer;
}
span1{
    font-weight: bold;
}
.About img{
    height: auto;
    width: 350px;
    transition: transform 0.4s;
}
.About img:hover{
    transform: scale(1.1);
}
.about-text{
    width: 550px;
}
.about-text h3{
    color: black;
    font-size: 50px;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 20px;
    cursor: pointer;
}
.second{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.about-text p1{
    color: black;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 25px;
    text-decoration: none;
    cursor: pointer;
}
.button{
    background-color: #ede6c4;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 20px;
    transition: 0.4s;
    font-size: 12px;
}
.button:hover{
    color: #9a9891;
    transition: scale(1.2);
    border-color: #9a9891;
    background: transparent;
    cursor: pointer;
}
.more{
    background-color: #7c826b;
    width: 100%;
    padding: 100px 0px;
}
.title h4{
    color: whitesmoke;
    font-size: 50px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 400px;
    width: 300px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 20px;
    margin: 28px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}